@using System;
@using System.Web.Mvc.Html
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Graph.Components.EventsListBlock.EventsListBlockModel>

<div class="event-list">
	<div class="event-list__container">
		<div class="event-list__items">
		@foreach (var item in Model.Events)
		{
			<div class="event">
				<div class="event__image-container">
					<div class="event__media">
						@if (item.Image != null) {
							<img class="event__img" src="@item.Image">
						}
					</div>
				</div>
				<div class="event__content">
					<h3 class="event__title">
						<a class="event__link" href="@item.Url">@item.Title</a>
					</h3>
					<div class="event__description">@item.Description</div>
					<address class="event__location">@item.Location</address>
					<time class="event__date">
						@item.StartDate.ToString("dd MMM yyyy")
						@if (item.EndDate.HasValue)
						{
							if (item.StartDate.Date == item.EndDate.Value.Date)
							{
  								<span>, @item.StartDate.ToString("hh:mm tt") - @item.EndDate.Value.ToString("hh:mm tt")</span>
							}
							else
							{
								<span> - @item.EndDate.Value.ToString("dd MMM yyyy ")</span>
							}
						}
						else
						{
							<span> @item.StartDate.ToString("hh:mm tt")</span>
						}
					</time>
				</div>
			</div>
		}
		</div>
		<div class="event-list__navigation">
			@Html.Partial("/App_Plugins/EventsListBlock/Views/EventsListNavigation.cshtml", Model.PageNavigationModel)
		</div>
	</div>
</div>
